* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(234, 255, 160);
  padding: 10px;
}

#content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  touch-action: none;
}

#student {
  border: 2px solid teal;
  padding: 4px;
  margin: 10px;
  outline: none;
}

#instructions-container {
  visibility: hidden;
}

#instructions {
  display: inline-block;
  margin-bottom: 10px;
}

#sketchContainer {
  visibility: hidden;
}

.buttons {
  all: unset;
  width: 90px;
  cursor: pointer;
  border: 2px solid teal;
  padding: 3px;
  color: teal;
  font-size: 14px;
  font-weight: 600;
  border-radius: 4px;
  user-select: none;
  text-align: center;
  background-color: rgba(237, 244, 17, 0.3);
  transition: transform 0.1s;

  &:active {
    transform: translateY(2px);
  }
}

#viewer {
  text-align: center;
  margin-bottom: 20px;
}

.row {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;

  &:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.6);
  }
}

.thumb {
  width: 100%;
}

.rowLabel {
  flex: 2 1 0;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 150px;
}

.sampleContainer {
  flex: 1 1 0;
  background-color: white;
  text-align: center;
  border-radius: 10%;
  margin: 1px;
  overflow: hidden;
  border: 1px solid coral;
}

.blur {
  filter: blur(2px);
}

.emphasize {
  background-color: yellow !important;
}

#container {
  width: 100%;
  display: flex;
  flex-direction: column;

  &>h2 {
    margin: 20px 0;
  }
}

#fixedContainer {
  position: fixed;
  right: 10px;
  bottom: 10px;
  display: flex;
  align-items: end;
  gap: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  padding: 5px;
  border-radius: 5px;
}

#fixedContainerSpace {
  height: 450px;
}

#sketchPadViewer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

#controlPanel {
  width: 400px;
  text-align: center;
}

#sketchPadContainer {
  position: relative;
}

#prediction {
  position: absolute;
  top: 10px;
  left: 10px;
}

#statistics {
  display: inline;
  margin-left: 5px;
  font-size: 14px;
}

#chartStatistics {
  display: flex;
  flex-direction: column;
  gap: 5px;
}