* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(234, 255, 160);
  padding: 10px;
}

#content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  touch-action: none;
}

#student {
  border: 2px solid teal;
  padding: 4px;
  margin: 10px;
  outline: none;
}

#instructions-container {
  visibility: hidden;
}

#instructions {
  display: inline-block;
  margin-bottom: 10px;
}

#sketchContainer {
  visibility: hidden;
}

.buttons {
  all: unset;
  width: 40px;
  cursor: pointer;
  border: 2px solid teal;
  padding: 3px 0;
  color: teal;
  font-size: 11px;
  font-weight: 600;
  border-radius: 4px;
  user-select: none;
  text-align: center;
  background-color: rgba(237, 244, 17, 0.3);
  transition: transform 0.1s;

  &:active {
    transform: translateY(2px);
  }
}

#user-data {
  display: inline-flex;
  align-items: center;
}

#viewer {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;

  &:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.6);
  }
}

.thumb {
  width: 100%;
}

.rowLabel {
  flex: 2 1 0;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 150px;
}

.sampleContainer {
  flex: 1 1 0;
  background-color: white;
  text-align: center;
  border-radius: 10%;
  margin: 1px;
  overflow: hidden;
  border: 1px solid coral;
  max-width: 12.5%;
}

.blur {
  filter: blur(2px);
}

.emphasize {
  background-color: yellow !important;
}

#container {
  width: 100%;
  display: flex;
  flex-direction: column;

  &>h2 {
    margin: 20px 0;
  }
}

#fixedContainer {
  position: fixed;
  right: 10px;
  bottom: 10px;
  display: flex;
  align-items: end;
  gap: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  padding: 5px;
  border-radius: 5px;

  @media only screen and (max-width: 800px) {
    flex-direction: column;
  }
}

#fixedContainerSpace {
  height: 450px;
}

#chartContainer {
  position: relative;
}

#confusionContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
}

#sketchPadViewer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

#controlPanel {
  width: 400px;
  text-align: center;
}

#sketchPadContainer {
  position: relative;
}

#prediction {
  position: absolute;
  top: 10px;
  left: 10px;
}

#statistics {
  display: inline;
  margin-left: 5px;
  font-size: 14px;
}

#chartStatistics {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.flagged {
  background-color: coral !important;
}

#tip {
  position: absolute;
  display: inline-block;
  top: 0;
  right: -30px;
  width: 20px;
  height: 20px;
  font-size: 14px;
  font-weight: 800;
  padding: 1px;
  border-radius: 10px;
  border: 2px solid black;
  background-color: white;

  &:hover::after {
    content: "ctrl + left click for flagging samples";
    position: absolute;
    top: 0;
    right: -210px;
    width: 200px;
    height: 16px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: rgb(202, 202, 202);
    font-size: 12px;
    font-weight: 400;
  }
}